In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Usando a mesma configuração de conexão do seu código atual
db_url = "postgresql+psycopg2://docker:docker@postgresql:5432/food-adction"
engine = create_engine(db_url)

# Consultar todos os usuários da tabela
try:
    # Executar uma consulta SQL para buscar todos os usuários
    query = "SELECT * FROM users"
    users_df = pd.read_sql(query, engine)
    
    # Exibir o resultado
    print("Conexão estabelecida com sucesso!")
    print("\nTabela de usuários:")
    print(users_df)
    
except Exception as e:
    print(f"Erro ao conectar ou consultar o banco de dados: {e}")

Conexão estabelecida com sucesso!

Tabela de usuários:
   id            email                                           password  \
0   1  admin@admin.com  $2b$10$M33q4wajazItZaczowRrx.20n.kV3n6KUWhjpUo...

    role        name               createdAt
0  ADMIN  João Pedro 2025-04-07 01:29:15.594

In [8]:
import pandas as pd

# Configurações para exibir todas as linhas e colunas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Carregar o arquivo Excel
df = pd.read_excel('./Escala de Yale (respostas) (1).xlsx')

# Colunas a serem removidas
columns_to_drop = [
    "Pontos 1", "Pontos 2", "Pontos 3", "Pontos 4", "Pontos 5", "Pontos 6", 
    "Pontos 7", "Pontos 8", "Pontos 9", "Pontos 10", "Pontos 11", "Pontos 12", 
    "Pontos 13", "Unnamed: 16", "Pontos Totais", "Significado Clínico", 
    "Diagnóstico", "Unnamed: 20"
]

# Remover as colunas desnecessárias
df = df.drop(columns=columns_to_drop)

# Renomear as colunas manualmente
manual_column_names = {
    'Carimbo de data/hora': 'createdAt',
    'Identificador do paciente:': 'identificador_paciente',
    'Origem do paciente:': 'origem',
    '1 - Eu comi até o ponto em que eu me senti fisicamente doente': 'q1',
    '2 - Eu passei muito tempo me sentindo lento ou cansado após ter comido em excesso': 'q2',
    '3 - Eu evitei o trabalho, escola ou atividades sociais porque eu tive medo que eu fosse comer demais lá': 'q3',
    '4 - Se eu estivesse com problemas emocionais porque eu não tinha comido certos alimentos, gostaria de comê-los para me sentir melhor.': 'q4',
    '5 - O meu comportamento alimentar me causou muito sofrimento': 'q5',
    '6 - Eu tive problemas significativos na minha vida por causa de comida. Podem ter sido problemas com a minha rotina diária, trabalho, escola, amigos, família, ou de saúde.': 'q6',
    '7 - Meus excessos com comida me prejudicaram no cuidado da minha família ou com tarefas domésticas': 'q7',
    '8 - Eu continuei comendo da mesma forma, mesmo este fato tendo me causado problemas emocionais.': 'q8',
    '9 - Comer a mesma quantidade de alimento não me deu tanto prazer como costumava me dar': 'q9',
    '10 - Eu tinha impulsos tão fortes para comer certos alimentos que eu não conseguia pensar em mais nada.': 'q10',
    '11 - Eu tentei e não consegui reduzir ou parar de comer certos alimentos': 'q11',
    '12 - Eu estava tão distraído pela ingestão que eu poderia ter sido ferido (por exemplo, ao dirigir um carro, atravessando a rua, operando máquinas': 'q12',
    '13 - Nos últimos 12 meses [Meus amigos ou familiares estavam preocupados com o quanto eu comia.': 'q13'
}

# Aplicar os novos nomes às colunas
df.rename(columns=manual_column_names, inplace=True)


# Mapeamento das respostas para valores numéricos
response_mapping = {
    "Nunca": 0,
    "Menos que mensalmente": 1,
    "Uma vez por mês": 2,
    "2-3 vezes por mês": 3,
    "Uma vez por semana": 4,
    "2-3 vezes por semana": 5,
    "4-6 vezes por semana": 6,
    "Todos os dias": 7
}

# Aplicar o mapeamento em todas as colunas
df.replace(response_mapping, inplace=True)

# Exibir as primeiras linhas do DataFrame normalizado
df.head(15)

/tmp/ipykernel_35614/1515155104.py:58: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(response_mapping, inplace=True)

,createdAt,identificador_paciente,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,origem
0,2022-10-10 14:19:51.026,1,0,1,2,3,4,5,6,7,6,5,4,3,2,NaN
1,2022-10-11 13:39:58.135,11101,5,6,0,0,4,3,0,3,0,0,3,0,2,NaN
2,2022-10-11 14:54:35.152,11102,0,4,0,5,3,5,5,7,5,6,3,0,7,NaN
3,2022-10-14 10:33:38.867,1401,3,3,0,0,1,1,0,1,3,0,0,0,3,NaN
4,2022-11-09 07:35:44.734,36,3,3,0,6,5,3,0,0,0,1,0,7,0,NaN
5,2022-11-30 07:39:57.997,11,0,2,0,0,1,0,0,0,1,0,7,0,0,NaN
6,2022-11-30 07:47:38.796,12,0,3,0,0,2,2,0,1,0,2,0,0,0,NaN
7,2022-11-30 08:10:19.276,33,2,7,0,3,3,1,1,7,2,0,3,0,7,NaN
8,2022-11-30 08:18:21.959,14,2,3,0,2,5,7,7,1,0,0,2,0,2,NaN
9,2022-11-30 08:31:41.985,55,0,2,0,0,0,0,0,0,1,0,0,0,7,NaN
10,2022-11-30 08:45:48.739,56,1,1,0,0,7,7,7,7,1,0,7,0,1,NaN
11,2023-01-17 10:32:38.183,15,5,5,1,3,5,5,0,5,3,4,1,0,1,Rede Privada
12,2023-01-18 15:26:01.097,102,1,1,1,4,5,1,5,5,0,1,7,1,7,Rede Privada
13,2023-02-13 12:29:09.352,1,0,1,0,1,0,0,0,1,0,0,3,0,1,Rede Pública
14,2023-02-14 08:58:02.232,100,4,3,0,2,2,3,1,2,0,0,0,0,0,Rede Pública

In [10]:




# Criar um DataFrame com todas as colunas necessárias
df_to_insert = df[['createdAt', 'identificador_paciente', 
                   'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 
                   'q8', 'q9', 'q10', 'q11', 'q12', 'q13', 
                   'origem']]

default_user_id = 1

# Garantir que createdAt seja do tipo datetime
df_to_insert['createdAt'] = pd.to_datetime(df_to_insert['createdAt'])

# Tratar valores nulos
df_to_insert['origem'] = df_to_insert['origem'].fillna('N/A')
df_to_insert['identificador_paciente'] = df_to_insert['identificador_paciente'].astype(str)
# Adicionar userId (campo obrigatório)
df_to_insert['userId'] = default_user_id

# Garantir que todas as colunas q1-q13 sejam inteiras
for col in ['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10', 'q11', 'q12', 'q13']:
    df_to_insert[col] = df_to_insert[col].astype('Int64')  # Int64 permite valores nulos

# Visualizar o DataFrame que será inserido
print(df_to_insert.head())

# Inserir dados na tabela
table_name = "form_food_addiction_answers"

try:
    df_to_insert.to_sql(
        table_name, 
        engine,
        if_exists='append', 
        index=False,
        schema='public' 
    )
    print(f"Dados inseridos com sucesso! ({len(df_to_insert)} registros)")
    
except Exception as e:
    print(f"Erro ao inserir dados: {e}")

                createdAt identificador_paciente  q1  q2  q3  q4  q5  q6  q7  \
0 2022-10-10 14:19:51.026                      1   0   1   2   3   4   5   6
1 2022-10-11 13:39:58.135                  11101   5   6   0   0   4   3   0
2 2022-10-11 14:54:35.152                  11102   0   4   0   5   3   5   5
3 2022-10-14 10:33:38.867                   1401   3   3   0   0   1   1   0
4 2022-11-09 07:35:44.734                     36   3   3   0   6   5   3   0

   q8  q9  q10  q11  q12  q13 origem  userId
0   7   6    5    4    3    2    N/A       1
1   3   0    0    3    0    2    N/A       1
2   7   5    6    3    0    7    N/A       1
3   1   3    0    0    0    3    N/A       1
4   0   0    1    0    7    0    N/A       1
Dados inseridos com sucesso! (68 registros)